{% load rest_framework %}

<div class="mb-3 row">
  {% if field.label %}
    <label class="col-sm-2 col-form-label pt-0 {% if style.hide_label %}sr-only{% endif %}">
      {{ field.label }}
    </label>
  {% endif %}

  <div class="col-sm-10">
    {% for key, text in field.choices|items %}
      <div class="form-check {% if style.inline %}form-check-inline {% endif %}">
        <input class="form-check-input {% if field.errors %}is-invalid{% endif %}" type="checkbox" name="{{ field.name }}" value="{{ key }}" {% if key|as_string in field.value|as_list_of_strings %}checked{% endif %}>
        <label class="form-check-label">{{ text }}</label>
      </div>
    {% endfor %}

    {% if field.errors %}
      {# A fake input to trigger the error messages as it needs to be after a valid input #}
      {# If it's with the last input and it's inline then the error stacks under the last input label #}
      {# It has no name so no data will be sent #}
      <input type="radio" class="is-invalid" style="display: none"/>
      {% for error in field.errors %}
        <span class="invalid-feedback">{{ error }}</span>
      {% endfor %}
    {% endif %}

    {% if field.help_text %}
      <p class="form-text">{{ field.help_text|safe }}</p>
    {% endif %}
  </div>
</div>
