{% load i18n %}
{% load rest_framework %}

{% trans "None" as none_choice %}

<div class="form-group row mb-3{% if field.errors %} has-error{% endif %}">
  {% if field.label %}
    <label class="col-sm-2 col-form-label{% if style.hide_label %} visually-hidden{% endif %}">
      {{ field.label }}
    </label>
  {% endif %}

  <div class="col-sm-10">
    {% if style.inline %}
      {% if field.allow_null or field.allow_blank %}
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="{{ field.name }}" value="" {% if not field.value %}checked{% endif %} />
            {{ none_choice }}
          </label>
        </div>
      {% endif %}

      {% for key, text in field.choices|items %}
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="{{ field.name }}" value="{{ key }}" {% if key|as_string == field.value|as_string %}checked{% endif %} />
            {{ text }}
          </label>
        </div>
      {% endfor %}
    {% else %}
      {% if field.allow_null or field.allow_blank %}
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="{{ field.name }}" value="" {% if not field.value %}checked{% endif %} />
            {{ none_choice }}
          </label>
        </div>
      {% endif %}
        {% for key, text in field.choices|items %}
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="{{ field.name }}" value="{{ key }}" {% if key|as_string == field.value|as_string %}checked{% endif %} />
              {{ text }}
            </label>
          </div>
        {% endfor %}
    {% endif %}

    {% if field.errors %}
      {% for error in field.errors %}
        <div class="invalid-feedback d-block">{{ error }}</div>
      {% endfor %}
    {% endif %}

    {% if field.help_text %}
      <div class="form-text">{{ field.help_text|safe }}</div>
    {% endif %}
  </div>
</div>
