<div class="form-group">
    {% include "rest_framework/fields/horizontal/label.html" %}
    <div class="col-sm-10">
    {% if field.style.inline %}
        {% for key, text in field.choices.items %}
            <label class="checkbox-inline">
                <input type="checkbox" name="{{ field.name }}" value="{{ key }}" {% if key in field.value %}checked{% endif %}>
                {{ text }}
            </label>
        {% endfor %}
    {% else %}
        {% for key, text in field.choices.items %}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="{{ field.name }}" value="{{ key }}" {% if key in field.value %}checked{% endif %}>
                    {{ text }}
                </label>
            </div>
        {% endfor %}
    {% endif %}
    </div>
</div>
