language: python

python:
  - "3.5"

sudo: false

env:
    - TOX_ENV=py27-lint
    - TOX_ENV=py27-docs
    - TOX_ENV=py35-django19
    - TOX_ENV=py34-django19
    - TOX_ENV=py27-django19
    - TOX_ENV=py34-django18
    - TOX_ENV=py33-django18
    - TOX_ENV=py32-django18
    - TOX_ENV=py27-django18
    - TOX_ENV=py34-django17
    - TOX_ENV=py33-django17
    - TOX_ENV=py32-django17
    - TOX_ENV=py27-django17

matrix:
    # Python 3.5 not yet available on travis, watch this to see when it is.
  fast_finish: true
  allow_failures:
    - env: TOX_ENV=py35-django19

install:
  - pip install tox

script:
    - tox -e $TOX_ENV

after_success:
    - pip install codecov
    - codecov -e TOX_ENV
