language: python

sudo: false

env:
    - TOX_ENV=py27-lint
    - TOX_ENV=py27-docs
    - TOX_ENV=py34-django18
    - TOX_ENV=py33-django18
    - TOX_ENV=py32-django18
    - TOX_ENV=py27-django18
    - TOX_ENV=py34-django17
    - TOX_ENV=py33-django17
    - TOX_ENV=py32-django17
    - TOX_ENV=py27-django17
    - TOX_ENV=py34-django16
    - TOX_ENV=py33-django16
    - TOX_ENV=py32-django16
    - TOX_ENV=py27-django16
    - TOX_ENV=py26-django16
    - TOX_ENV=py34-django15
    - TOX_ENV=py33-django15
    - TOX_ENV=py32-django15
    - TOX_ENV=py27-django15
    - TOX_ENV=py26-django15
    - TOX_ENV=py27-django14
    - TOX_ENV=py26-django14
    - TOX_ENV=py27-djangomaster
    - TOX_ENV=py32-djangomaster
    - TOX_ENV=py33-djangomaster
    - TOX_ENV=py34-djangomaster

matrix:
  fast_finish: true
  allow_failures:
    - env: TOX_ENV=py27-djangomaster
    - env: TOX_ENV=py32-djangomaster
    - env: TOX_ENV=py33-djangomaster
    - env: TOX_ENV=py34-djangomaster

install:
  - pip install tox

script:
    - tox -e $TOX_ENV
