language: python

python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"

env:
  - DJANGO="https://www.djangoproject.com/download/1.7.b4/tarball/"
  - DJANGO="django==1.6.5"
  - DJANGO="django==1.5.8"
  - DJANGO="django==1.4.13"
  - DJANGO="django==1.3.7"

install:
  - pip install $DJANGO
  - pip install defusedxml==0.3 Pillow==2.3.0
  - "if [[ ${TRAVIS_PYTHON_VERSION::1} != '3' ]]; then pip install oauth2==1.5.211; fi"
  - "if [[ ${TRAVIS_PYTHON_VERSION::1} != '3' ]]; then pip install django-oauth-plus==2.2.4; fi"
  - "if [[ ${TRAVIS_PYTHON_VERSION::1} != '3' ]]; then pip install django-oauth2-provider==0.2.4; fi"
  - "if [[ ${TRAVIS_PYTHON_VERSION::1} != '3' ]]; then pip install django-guardian==1.1.1; fi"
  - "if [[ ${DJANGO::11} == 'django==1.3' ]]; then pip install django-filter==0.5.4; fi"
  - "if [[ ${DJANGO::11} != 'django==1.3' ]]; then pip install django-filter==0.7; fi"
  - "if [[ ${TRAVIS_PYTHON_VERSION::1} == '3' ]]; then pip install -e git+https://github.com/linovia/django-guardian.git@feature/django_1_7#egg=django-guardian-1.2.0; fi"
  - "if [[ ${DJANGO} == 'https://www.djangoproject.com/download/1.7.b4/tarball/' ]]; then pip install -e git+https://github.com/linovia/django-guardian.git@feature/django_1_7#egg=django-guardian-1.2.0; fi"
  - export PYTHONPATH=.

script:
  - python rest_framework/runtests/runtests.py

matrix:
  exclude:
    - python: "2.6"
      env: DJANGO="https://www.djangoproject.com/download/1.7.b4/tarball/"
    - python: "3.2"
      env: DJANGO="django==1.4.13"
    - python: "3.2"
      env: DJANGO="django==1.3.7"
    - python: "3.3"
      env: DJANGO="django==1.4.13"
    - python: "3.3"
      env: DJANGO="django==1.3.7"
    - python: "3.4"
      env: DJANGO="django==1.4.13"
    - python: "3.4"
      env: DJANGO="django==1.3.7"
