# Minimum Django version
Django>=1.4.11

# Test requirements
pytest-django==2.8.0
pytest==2.5.2
pytest-cov==1.6
flake8==2.2.2

# Optional packages
markdown>=2.1.0
PyYAML>=3.10
defusedxml>=0.3
django-guardian==1.2.4
django-filter>=0.5.4
django-oauth-plus>=2.2.1
oauth2>=1.5.211
django-oauth2-provider>=0.2.4

# wheel for PyPI installs
wheel==0.24.0

# MkDocs for documentation previews/deploys
mkdocs==0.11.1
