{% load url from future %}
{% load urlize_quoted_links %}
{% load add_query_param %}
{% load optional_login %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <link rel="stylesheet" type="text/css" href='{% get_static_prefix %}djangorestframework/css/bootstrap.min.css'/>
        <link rel="stylesheet" type="text/css" href='{% get_static_prefix %}djangorestframework/css/style.css'/>
        {% block extrastyle %}{% endblock %}

        <title>{% block title %}Django REST framework - {{ name }}{% endblock %}</title>

        {% block extrahead %}{% endblock %}

        {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

    </head>

  <body class="{% block bodyclass %}{% endblock %} container">

    <div class="navbar">
        <div class="navbar-inner">
            <span class="brand" href="/">
                {% block branding %}<a href='http://django-rest-framework.org'>Django REST framework</a> <span class="version"> v {{ version }}</span>{% endblock %}
            </span>
            {% block userlinks %}
                <ul class="nav pull-right">
                    {% if user.is_active %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Welcome, {{ user }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>{% optional_logout %}</li>
                            </ul>
                        </li>
                    {% else %}
                        <li>{% optional_login %}</li>
                    {% endif %}
                </ul>
            {% endblock %}
        </div>
    </div>

        {% block nav-global %}{% endblock %}


    {% block breadcrumbs %}
    <ul class="breadcrumb">
    
        {% for breadcrumb_name, breadcrumb_url in breadcrumblist %}
            <li>
                <a href="{{ breadcrumb_url }}" {% if forloop.last %}class="active"{% endif %}>{{ breadcrumb_name }}</a> {% if not forloop.last %}<span class="divider">&rsaquo;</span>{% endif %}
            </li>
        {% endfor %}
    </ul>
    {% endblock %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">

        {% if 'OPTIONS' in allowed_methods and api_settings.FORM_METHOD_OVERRIDE %}
            <form action="{{ request.get_full_path }}" method="post" class="pull-right">
                {% csrf_token %}
                <input type="hidden" name="{{ api_settings.FORM_METHOD_OVERRIDE }}" value="OPTIONS" />
                <button class="btn">OPTIONS</button>
            </form>
        {% endif %}

    <div class='content-main'>
        <div class="page-header"><h1>{{ name }}</h1></div>
        <p>{{ description }}</p>
        <div class='module'>
            <pre><b>HTTP {{ response.status_code }} {{ response.status_text }}</b>{% autoescape off %}
{% for key, val in response.items %}<b>{{ key }}:</b> {{ val|urlize_quoted_links }}
{% endfor %}
{{ content|urlize_quoted_links }}</pre>{% endautoescape %}
        </div>

    {% if 'GET' in allowed_methods %}
            <form>
                <fieldset class='module aligned'>
                    <h2>GET: {{ name }}</h2>

                    <div class="btn-group format-selection">
                        <a class="btn btn-primary js-tooltip" href='{{ request.get_full_path }}' rel="nofollow" title="Do a GET request on the {{ name }} resource">GET</a>
                        {% for format in available_formats %}
                            {% with FORMAT_PARAM|add:"="|add:format as param %}
                                <a class="btn js-tooltip" href='{{ request.get_full_path|add_query_param:param }}' rel="nofollow" title="Do a GET request on the {{ name }} resource with the format set to `{{ format }}`">{{ format }}</a>
                            {% endwith %}
                        {% endfor %}
                    </div>

                </fieldset>
            </form>
    {% endif %}

    {% comment %}
        DROP POST/PUT/DELETE until the forms are working with REST framework 2

    {# Only display the POST/PUT/DELETE forms if method tunneling via POST forms is enabled and the user has permissions on this view. #}
    {% if response.status_code != 403 %}

        {% if 'POST' in allowed_methods %}
                <form action="{{ request.get_full_path }}" method="POST" {% if post_form.is_multipart %}enctype="multipart/form-data"{% endif %}>
                <fieldset class='module aligned'>
                    <h2>POST: {{ name }}</h2>
                    {% csrf_token %}
                    {{ post_form.non_field_errors }}
                    {% for field in post_form %}
                    <div class='form-row'>
                        {{ field.label_tag }}
                        {{ field }}
                        <span class='help'>{{ field.help_text }}</span>
                        {{ field.errors }}
                    </div>
                    {% endfor %}

                    <button class="btn btn-primary">POST</button>
                </fieldset>
                </form>
        {% endif %}

        {% if 'PUT' in allowed_methods and api_settings.FORM_METHOD_OVERRIDE %}
                <form action="{{ request.get_full_path }}" method="POST" {% if put_form.is_multipart %}enctype="multipart/form-data"{% endif %}>
                <fieldset class='module aligned'>
                    <h2>PUT: {{ name }}</h2>
                    <input type="hidden" name="{{ api_settings.FORM_METHOD_OVERRIDE }}" value="PUT" />
                    {% csrf_token %}
                    {{ put_form.non_field_errors }}
                    {% for field in put_form %}
                    <div class='form-row'>
                        {{ field.label_tag }}
                        {{ field }}
                        <span class='help'>{{ field.help_text }}</span>
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    
                    <button class="btn btn-primary">PUT</button>

                </fieldset>
                </form>
        {% endif %}

        {% if 'DELETE' in allowed_methods and api_settings.FORM_METHOD_OVERRIDE %}
                <form action="{{ request.get_full_path }}" method="POST">
                <fieldset class='module aligned'>
                    <h2>DELETE: {{ name }}</h2>
                    {% csrf_token %}
                    <input type="hidden" name="{{ api_settings.FORM_METHOD_OVERRIDE }}" value="DELETE" />
                    <button class="btn btn-danger">DELETE</button>
                </fieldset>
                </form>
        {% endif %}

    {% endif %}
    {% endcomment %}
    </div>
    <!-- END content-main -->

    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
    </div>
    <script src="{% get_static_prefix %}djangorestframework/js/jquery-1.8.1-min.js"></script>
    <script src="{% get_static_prefix %}djangorestframework/js/bootstrap.min.js"></script>
    <script>
        $('.js-tooltip').tooltip({
            delay: 1000
        });
    </script>
  </body>
</html>
