{% load rest_framework %}
<table class="table table-striped">
  <thead>
    <tr>{% for column in columns%}<th>{{ column|capfirst }}</th>{% endfor %}<th class="col-xs-1"></th></tr>
  </thead>
  <tbody>
    {% for row in results %}
      <tr>
        {% for key, value in row|items %}
          {% if key in columns %}
            <td {{ value|add_nested_class }} >
              {{ value|format_value }}
            </td>
          {% endif %}
        {% endfor %}
        <td>
          {% if row.url %}
          <a href="{{ row.url }}">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
          {% else %}
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
