{% load urlize_quoted_links %}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <style>
      pre {border: 1px solid black; padding: 1em; background: #ffd}
      div.action {padding: 0.5em 1em; margin-bottom: 0.5em; background: #ddf}
    </style>
  </head>
  <body>
    <h1>{{ resource_name }}</h1>
    <p>{{ resource_doc }}</p>
    <pre><b>{{ status }} {{ reason }}</b>{% autoescape off %}
{% for key, val in headers.items %}<b>{{ key }}:</b> {{ val|urlize_quoted_links }}
{% endfor %}
{{ content|urlize_quoted_links }}    </pre>{% endautoescape %}

{% if 'read' in resource.allowed_operations %}
	<div class='action'>
		<a href='{{ request.path }}'>Read</a>
	</div>
{% endif %}

{% if 'create' in resource.allowed_operations %}
	<div class='action'>
		<form action="{{ request.path }}" method="POST">
		    {% csrf_token %}
			{{ create_form.as_p }}
			<input type="submit" value="Create" />
		</form>
	</div>
{% endif %}

{% if 'update' in resource.allowed_operations %}
	<div class='action'>
		<form action="{{ request.path }}" method="POST">
			<input type="hidden" name="{{ resource.METHOD_PARAM}}" value="PUT" />
			{% csrf_token %}
			{{ create_form.as_p }}
			<input type="submit" value="Update" />
		</form>
	</div>
{% endif %}

{% if 'delete' in resource.allowed_operations %}
	<div class='action'>
		<form action="{{ request.path }}" method="POST">
		    {% csrf_token %}
			<input type="hidden" name="{{ resource.METHOD_PARAM}}" value="DELETE" />
			<input type="submit" value="Delete" />
		</form>
	</div>
{% endif %}

  </body>
</html>