<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

<h1>User update</h1>
<div class="well">

{% load rest_framework %}
<form {% if layout == "inline" %}class="form-inline"{% elif layout == "horizontal" %}class="form-horizontal"{% endif %} role="form" action="." method="POST">
    {% csrf_token %}
    {% for field, value, errors in form %}
        {% render_field field value errors layout=layout renderer=renderer %}
    {% endfor %}
    <!-- form.non_field_errors -->
    {% if layout == "horizontal" %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    {% else %}
        <button type="submit" class="btn btn-default">Submit</button>
    {% endif %}
</form>

</div>
</div></body>
</html>
