.main-container {
  padding-left: 30px;
  padding-right: 30px;
}

.sidebar {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 225px;
  height: 100%;
  color: #FFF;
}

.sidebar .brand {
    background-color: #23282e;
    display: block;
    text-align: center;
    padding: 25px 0;
    margin-top: 0;
    margin-bottom: 0;
}

.sidebar .toggle-btn {
  display: none;
}

.sidebar .menu-list ul,
.sidebar .menu-list li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}

.sidebar .menu-list ul :not(collapsed) .arrow:before,
.sidebar .menu-list li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.sidebar .menu-list ul .active,
.sidebar .menu-list li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}

.sidebar .menu-list ul .sub-menu li.active,
.sidebar .menu-list li .sub-menu li.active {
  color: #d19b3d;
}

.sidebar .menu-list ul .sub-menu li.active a,
.sidebar .menu-list li .sub-menu li.active a {
  color: #d19b3d;
}

.sidebar .menu-list ul .sub-menu li,
.sidebar .menu-list li .sub-menu li {
  background-color: #181c20;
  border: none;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
  text-indent: 10px;
}

.sidebar .menu-list ul .sub-menu li:hover,
.sidebar .menu-list li .sub-menu li:hover {
  background-color: #020203;
}

.sidebar .menu-list ul .sub-menu li:before,
.sidebar .menu-list li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.sidebar .menu-list li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}

.sidebar .menu-list li a {
  text-decoration: none;
  color: white;
}

.sidebar .menu-list li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.sidebar .menu-list li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

body {
  margin: 0px;
  padding: 0px;
}

.coredocs-section-title {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

.coredocs-link-title a,
.coredocs-section-title a {
  display: none;
}

.coredocs-link-title a,
.coredocs-section-title a {
  text-decoration: none;
}

.coredocs-link-title:hover a,
.coredocs-section-title:hover a {
  display: inline;
  font-size: 20px;
}

.coredocs-section-title:last-child {
    margin-top: 0;
}


/* @group Language Switcher */

.sidebar .language-switcher {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidebar .language-switcher h6 {
    margin-bottom: 15px;
}

.sidebar .language-switcher .btn {
    padding: 3px 7px;
}

.sidebar .language-switcher .dropdown-menu {
  margin-bottom: 5px;
  border: 0;
  border-radius: 0;
  min-width: 130px;
}

.sidebar .language-switcher .dropdown-menu > li > a {
  padding: 3px 10px;
}

.sidebar .language-switcher .dropdown-menu > .active > a,
.sidebar .language-switcher .dropdown-menu > .active > a:hover,
.sidebar .language-switcher .dropdown-menu > .active > a:focus {
  background-color: #17759c;
}

.sidebar .language-switcher .dropdown-menu > li > a,
.sidebar .language-switcher .dropdown-menu > li > a:hover,
.sidebar .language-switcher .dropdown-menu > li > a:focus {
  background-color: #23282e;
}

/* @end Language Switcher */


/* @group Docs Content */

.docs-content .meta .label {
    vertical-align: middle;
    font-size: 14px;
    font-weight: normal;
}

.docs-content .meta code {
    vertical-align: middle;
    padding: .2em .6em .3em;
    font-size: 14px;
}

.docs-content .btn {
  font-size: inherit;
}

.code-samples pre {
  margin-top: 20px;
}

/* @end Docs Content */


@media (max-width: 767px) {
  .main-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .sidebar {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    overflow: visible;
  }

  .sidebar .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    width: 40px;
    text-align: center;
  }

  .sidebar .language-switcher {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: static;
  }

  .sidebar .language-switcher .btn .caret {
    margin-left: 0;
    border-bottom: 0;
    border-top: 4px dashed;
  }

  .sidebar .language-switcher .dropup .dropdown-menu {
    top: 30px;
    bottom: inherit;
  }

  .sidebar .brand {
    margin-top: 0;
    margin-bottom: 0;

    text-align: left !important;
    font-size: 22px;
    padding: 0;
    padding-left: 20px;
    line-height: 50px !important;
  }
}

@media (min-width: 767px) {
  .sidebar .menu-list .menu-content {
    display: block;
  }
  #main {
    width:calc(100% - 225px);
    float: right;
  }
}
