<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <title>
      {% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}
    </title>
    <link href="{{ 'img/favicon.ico'|url }}" rel="icon" type="image/x-icon" />
    <link rel="canonical" href="{{ page.canonical_url|url }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Django, API, REST{% if page %}, {{ page.title }}{% endif %}"
    />
    <meta name="author" content="Tom Christie" />

    <!-- Le styles -->
    <!-- <link href="{{ 'css/prettify.css'|url }}" rel="stylesheet">
  <link href="{{ 'css/bootstrap.css'|url }}" rel="stylesheet">
  <link href="{{ 'css/bootstrap-responsive.css'|url }}" rel="stylesheet">
  <link href="{{ 'css/default.css'|url }}" rel="stylesheet"> -->

    <link rel="stylesheet" href="{{ 'dist/main.css'|url }}" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-18852272-2"]);
      _gaq.push(["_trackPageview"]);

      (function () {
        var ga = document.createElement("script");
        ga.type = "text/javascript";
        ga.async = true;
        ga.src =
          ("https:" == document.location.protocol
            ? "https://ssl"
            : "http://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body
    onload="prettyPrint()"
    class="{% if page and page.is_homepage %}index{% endif %}-page"
  >
    <div class="wrapper">
      {% include "nav.html" %}

      <div class="body-content">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-3">
              <div id="table-of-contents">
                <ul class="nav flex-column">
                  {% if page and page.is_homepage %}
                  <a
                    href="#"
                    class="nav-link {% if page and page.is_homepage %} fw-bold {% endif %}"
                    >Django REST framework</a
                  >
                  {% endif %} {% for toc_item in page.toc %}
                  <a
                    href="{{ toc_item.url }}"
                    class="nav-link {% if page and not page.is_homepage %}main{% endif %}"
                    >{{ toc_item.title }}</a
                  >

                  {% for toc_item in toc_item.children %}
                  <li>
                    <a class="nav-link" href="{{ toc_item.url }}"
                      >{{ toc_item.title }}</a
                    >
                  </li>
                  {% endfor %} {% endfor %}

                  <div class="promo">
                    {% if page.toc %}
                    <hr />
                    {% endif %}
                  </div>
                  <div id="sidebarInclude"></div>
                </ul>
              </div>
            </div>

            <div id="main-content" class="col-12 col-md-9">
              {% block content %} {% if page.meta.source %} {% for filename in
              page.meta.source %}
              <a
                class="github"
                href="https://github.com/encode/django-rest-framework/tree/master/rest_framework/{{ filename }}"
              >
                <span class="label label-info">{{ filename }}</span>
              </a>
              {% endfor %} {% endif %} {{ page.content }} {% endblock %}
            </div>
            <!--/span-->
          </div>
          <!--/row-->
        </div>
        <!--/.fluid-container-->
      </div>
      <!--/.body content-->
      <div id="push"></div>
    </div>
    <!--/.wrapper -->

    <footer class="col-11 border-top mx-auto">
      <p class="text-center py-3 my-0">
        Documentation built with <a href="http://www.mkdocs.org/">MkDocs</a>.
      </p>
    </footer>

    <!-- Search Modal Start -->
    <div
      class="modal fade"
      id="mkdocs_search_modal"
      tabindex="-1"
      aria-labelledby="searchModal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title fs-5" id="search_modal_label">
              Documentation Search
            </h3>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">
            <form role="form" autocomplete="off">
              <div class="form-group">
                <input
                  type="text"
                  name="q"
                  class="form-control"
                  placeholder="Search..."
                  id="mkdocs-search-query"
                />
              </div>
            </form>

            <div id="mkdocs-search-results" class="mt-3"></div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal End -->

    <!-- Le javascript
  ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script async src="https://fund.django-rest-framework.org/sidebar_include.js"></script>
  <script src="{{ 'js/jquery-1.8.1-min.js'|url }}"></script>
  <script src="{{ 'js/prettify-1.0.js'|url }}"></script>
  <script src="{{ 'js/bootstrap-2.1.1-min.js'|url }}"></script>
  <script src="{{ 'js/theme.js'|url }}"></script> -->

    <script>
      var base_url = "{{ base_url }}";
    </script>

    <script src="{{ 'dist/main.js'|url }}"></script>

    {% for path in config.extra_javascript %}
    <script src="{{ path|url }}" defer></script>
    {% endfor %}
  </body>
</html>
