<div class="form-group {% if field.errors %}has-error{% endif %}">
    {% if field.label %}
        <label {% if style.hide_label %}class="sr-only"{% endif %}>{{ field.label }}</label>
    {% endif %}
    <select multiple class="form-control" name="{{ field.name }}">
        {% for key, text in field.choices.items %}
        <option value="{{ key }}" {% if key in field.value %}selected{% endif %}>{{ text }}</option>
        {% endfor %}
    </select>
    {% if field.errors %}
        {% for error in field.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
    {% endif %}
    {% if field.help_text %}
        <span class="help-block">{{ field.help_text }}</span>
    {% endif %}
</div>
