# Optional packages which may be used with REST framework.
coreapi==2.3.1
coreschema==0.0.4
django-filter>=2.4.0,<3.0
django-guardian>=2.3.0,<2.4
markdown==3.3;python_version>="3.6"
markdown==3.2.2;python_version=="3.5"
psycopg2-binary>=2.8.5,<2.9
pygments>=2.7.1,<2.8
pyyaml>=5.3.1,<5.4
