# Pytest for running the tests.
pytest>=7.0.1,<9.0
pytest-cov>=4.0.0,<8.0
pytest-django>=4.11.1,<5.0
importlib-metadata<8.7.0
# temporary pin of attrs
attrs==25.4.0
pytz  # Remove when dropping support for Django<5.0
