# Wheel for PyPI installs.
wheel==0.29.0

# Twine for secured PyPI uploads.
twine==1.8.1

# Transifex client for managing translation resources.
transifex-client==0.12.2

# Pandoc to have a nice pypi page
pypandoc
