# Optional packages which may be used with REST framework.
pytz==2017.2
psycopg2==2.7.3
markdown==2.6.4
django-guardian==1.4.9
django-filter==1.1.0
-e git+https://github.com/core-api/python-client.git@b56b1d64fcebd765d458f546b3c38762fd65f042#egg=coreapi
