.copy-block-button {
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 12px;
  padding: 2px 6px;
  cursor: pointer;

  background: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 3px;

  color: #dc322f !important;

  box-shadow: 0 1px 1px rgba(0,0,0,0.04);
}

.copy-block-button span {
  color: #dc322f !important;
}
