<div class="modal fade" id="filtersModal" tabindex="-1" aria-labelledby="filtersModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="filtersModalLabel">Filters</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          {% for element in elements %}
          {% if not forloop.first %}<hr/>{% endif %}
          {{ element }}
          {% endfor %}
      </div>
    </div>
  </div>
</div>
