{% load rest_framework %}
{% load i18n %}
<h2>{% trans "Ordering" %}</h2>
<div class="list-group">
    {% for key, label in options %}
        {% if key == current %}
            <a href="{% add_query_param request param key %}" class="list-group-item active">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>
              {{ label }}
            </a>
        {% else %}
            <a href="{% add_query_param request param key %}" class="list-group-item">{{ label }}</a>
        {% endif %}
    {% endfor %}
</div>
