{% load rest_framework %}

<div class="col-12">
  {% if field.label %}
    <label class="sr-only">{{ field.label }}</label>
  {% endif %}

  {% for key, text in field.choices|items %}
    <div class="form-check {% if style.inline %}form-check-inline {% endif %}">
      <input class="form-check-input{% if field.errors %} is-invalid{% endif %}" type="checkbox" name="{{ field.name }}" value="{{ key }}" {% if key|as_string in field.value|as_list_of_strings %}checked{% endif %}>
      <label>{{ text }}</label>
    </div>
  {% endfor %}
</div>
