name: mkdocs

on:
  push:
    branches:
      - main
    paths:
      - docs/**
      - docs_theme/**
      - requirements/requirements-documentation.txt
      - mkdocs.yml
      - .github/workflows/mkdocs-deploy.yml

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: github-pages
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v5
      - run: git fetch --no-tags --prune --depth=1 origin gh-pages
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - run: pip install -r requirements/requirements-documentation.txt
      - run: mkdocs gh-deploy
